  <div class="p-2 w-full pt-8 mt-8 text-center">
          <a class="text-pink-500 hover:underline " href="mailto:dan@1000hurts.fm">dan@1000hurts.fm</a>
          <p class="leading-normal my-5">A <a class="text-pink-500 hover:underline" href="https://littleinter.net">little internet</a> project by <a class="text-pink-500 hover:underline" href="https://dansinker.com">Dan Sinker</a.
          </p>
        </div>