---
title: 1000 Hurts
layout: layouts/base.njk
cta1: This is some text about how great I am at doing what I do. It's long and involved and I'm typing it up here because shit gets insane down below. This is such a fucking Dan way of dealing with this problem.
cta2: YOu're fucking kidding right? This is how we're going to solve this problem, really? I can't fucking handle it for real. 
---

<div class="space-y-8">

  <div>
    <p>This is the project's home page. There is a little styling for demonstration purposes only.</p>
    <p>The navigation might as well be a sidebar, or a floating menu. This template provides the structure, make it yours ✌️</p>
  </div>


</div>
